.banner{
    background: url(../img/banner.jpeg) no-repeat;
    background-size: cover;
   .banner_content{
       h2{
        @include text($color-blue-8, $fs-5 + 2, unset);
       }
       h3{
        @include text($color-blue-8, $fs-3, unset);
       }
    }
    @include reponds-to('large'){
        height: 550px;
        background-position: left;

        .banner_content{
            padding: 0 5%;
            h2{
                font-size: 30px;
                padding: 10% 0;
            }
            h3{
                font-size: 18px;
                margin-bottom: 10%;
            }
            .btn_ford{
                padding: 15px 32%;
            }
        }
    }
    // @include reponds-to('medium'){
    //     height: 550px;
    //     background-position: left;

    //     .banner_content{
    //         padding: 0 5%;
    //         h2{
    //             font-size: 30px;
    //             padding: 10% 0;
    //         }
    //         h3{
    //             font-size: 18px;
    //             margin-bottom: 10%;
    //         }
    //         .btn_ford{
    //             padding: 15px 32%;
    //         }
    //     }
    // }
    @include reponds-to('small'){
        height: 450px;
        background-position: 84%;

        .banner_content{
            padding: 0 5%;
            h2{
                font-size: 24px;
            }
            h3{
                font-size: 18px;
            }
            .btn_ford{
                padding: 15px 32%;
            }
        }
    }
}