.disc{
    .disc_collapse{
        @include text($color-blue-0, $fs-2, unset);
        border: transparent;
        background-color: transparent;
        &:hover{
            text-decoration: none;
            color: $color-black-1;
        }
    }
    .collapse{
        .disc_content{
            background-color: $color-white-2;
            overflow-y: scroll;
            height: 200px;
        }
    }
}